.category-btns{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-common{
    word-wrap: break-word;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    line-height: 20px;
    list-style: none;
    padding: 7px;
    position: relative;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

.category-btn {
    background-color: #fafbfc;
    border: 1px solid #1b1f2326;
    box-shadow: 0 1px 0 #1b1f230a, inset 0 1px 0 #ffffff40;
    color: #24292e;
    margin-left: 8px;
    padding: 6px 16px;

}