.home-page{
  flex: 1;
  padding: 2rem 1rem;
  margin: 0;
  background-color: var(--background);
  color: var(--text-color);
  width: 100vw;
}

.home-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-color);
}
:root{
  --background: #fff;
  --text-color: #333;
}

.dark-mode{
  --background: #1a1a1a;
  --text-color: #eee;
}


body.dark .footer{
  background-color: #1a1a1a;
  color: #eee;
}
