.banner {
    font-family: sans-serif;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 0;
    padding-top: 0;
    z-index: 10090;
    width: 100%;
}

header {
    display: block;
    unicode-bidi: isolate;

}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.banner img {
    display: inline-block;
    height: auto;
    width: 150px;
}
