.gif-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-height: 200px;
    max-width: 500px;
    gap: 10px;
    overflow-y: scroll;
}

.gif-container img{
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.modal-content{
    background-color: #ce0505;
    box-shadow: 0 4px 8px #0000001a;
    height: auto;
    left: 50%;
    max-width: 500px;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1001;
}
